#ignoring object files
*.o
#ignoring library
*.a *.so
#ignoring all emacs temp files
*~
#ignoring cmake's build directory
build/
#ignoring build directory
bin/
#ignoring nohup.out cmake file
nohup.out
#ignoring certificates
33ac0ac8dc-certificate.pem.crt
33ac0ac8dc-private.pem.key
33ac0ac8dc-public.pem.key
AmazonRootCA1.pem
				